In [1]:
# List 

a=[]
b=[1,2,3]
c=['Life', 'is', 'too', 'short']
d=[1,2,'Life',' is']
e=[1,2,['Life', 'is']]

#  다른언어의 배열과 다르게 숫자나, 문자열 다 가능

In [3]:
# add list
a=[1,2,3]
b=[4,5,6]
ex1=a+b
print(ex1)

[1, 2, 3, 4, 5, 6]

In [4]:
#change list
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [5]:
#delete list
a=[1,2,3]
del a[1]
a

[1, 3]

In [9]:
#list methods

#append() = 리스트 항목추가

a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [10]:
a=[1,4,3,2]
a.sort()
a #리스트 정렬 (오름차순, 문자열도 가능)

[1, 2, 3, 4]

In [14]:
# 내림차순 정렬

a=['a','c','b']
a.sort(reverse=True)
print(a)

# 그냥 거꾸로

b=['a','c','b']
b.reverse()
print(b)

['c', 'b', 'a']
['b', 'c', 'a']

In [16]:
# return index
a=[1,2,3]
print(a.index(3))
print(a.index(1))

2
0

In [17]:
#insert items
a=[1,2,3]
a.insert(0,4) #insert(원하는 인덱스, 값)
a

[4, 1, 2, 3]

In [18]:
#remove item
a=[1,2,3,1,2,3]
a.remove(3) #모든 3 제거 x, 먼저 나오는 값만 제거
a

[1, 2, 1, 2, 3]

In [19]:
# pop() = 맨마지막 item 제거
a=[1,2,3]
a.pop()
a

[1, 2]

In [20]:
a=[1,2,3]
a.pop(1)
a

[1, 3]

In [21]:
#count()

a=[1,2,3,1]
a.count(1) #지정 아이템 개수 반환

2

In [22]:
#extend() = append()와 다르게 리스트 안에 리스트가 들어가는거 x
a=[1,2,3]
a.extend([4,5])
print(a)

b=[6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

In [23]:
'''
Tuple

list와는 다르게 값을 바꾸거나 추가 삭제 불가능
'''
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

In [29]:
'''
Dictionary

key:value 쌍으로 구성 
'''
dic={
    'name':'pey',
    'phone':'0123131',
    'birth':'1118'
} #key값으로 list 불가능

dic['birth']

'1118'

In [28]:
a={1: 'a'}
a[2]='b'
print(a)

a['name']='pey'
print(a)

a[3]=[1,2,3]
print(a)

#delete key
del a[1]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [30]:
'''
딕셔너리 중복 key값 불가능
list는 key값으로 사용 불가능(but, 튜플은 가능)
'''

'\n딕셔너리 중복 key값 불가능\nlist는 key값으로 사용 불가능(but, 튜플은 가능)\n'

In [33]:
a={
    'name':'pey',
    'phone':'0123131',
    'birth':'1118'
}
print(a.keys()) #key() = 모든 key값 반환

for k in a.keys(): #for문도 가능
    print(k)
    
print(list(a.keys())) #list로 형변환도 가능

dict_keys(['name', 'phone', 'birth'])
name
phone
birth
['name', 'phone', 'birth']

In [35]:
a={
    'name':'pey',
    'phone':'0123131',
    'birth':'1118'
}
print(a.values()) #모든 value 값 반환

print(a.items()) # 모든 key:value쌍을 튜플형태로 반환

dict_values(['pey', '0123131', '1118'])
dict_items([('name', 'pey'), ('phone', '0123131'), ('birth', '1118')])

In [36]:
a={
    'name':'pey',
    'phone':'0123131',
    'birth':'1118'
}
print(a.get('name')) #get() = key값 넣으면 해당 value반환
print(a.get('phone'))

pey
0123131

In [37]:
a={
    'name':'pey',
    'phone':'0123131',
    'birth':'1118'
}
'name' in a #check if key exists (in)

True

In [38]:
'''
Set (집합 자료형)

순서 존재 x, 인덱스 존재x, 중복값 존재x
'''
s1=set([1,2,3])
print(s1)

s2=set("Hello")
print(s2)

{1, 2, 3}
{'l', 'e', 'H', 'o'}

In [41]:
# set-mathematics

#intersection
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1&s2)
print(s1.intersection(s2))

#Union
print(s1|s2)
print(s1.union(s2))

#Difference
print(s1-s2)
print(s2-s1)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}

In [43]:
#add() =한개요소 삽입

s1=set([1,2,3])
s1.add(4)
print(s1)

#update() = 여러개 요소 삽입
s1=set([1,2,3])
s1.update([4,5,6])
print(s1)

#remove() =특정 요소 삭제
s1=set([1,2,3])
s1.remove(2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3}

In [44]:
'''
Bool 자료형

false인 경우
""
[]
()
{}
0
None
'''

#bool() = true, false 여부 반환
print(bool(""))
print(bool("1"))

False
True

In [45]:
a=3
b=5
a,b=b,a #swap 매우 쉽게 가능
print(a)
print(b)

5
3